<div class="empty-space">
    <div class="contact">
        <a href="mailto:bettichemohammedislam@gmail.com"  class="contact-item"><i class="fa-regular fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/mohammed-islam-bettiche/" target="_blank" class="contact-item"><i class="media fa-brands fa-linkedin-in"></i></a>
        <a href="https://www.instagram.com/7darkdays/" target="_blank" class="contact-item"><i class="media fa-brands fa-instagram"></i></a>
        <a href="https://github.com/isla-dev" target="_blank" class="contact-item"><i class="media fa-brands fa-github"></i></a>
    </div>
</div>

<div class="copyright">
    ©2023 isladev
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="/action.js"></script>
</body>
</html>