<!--//////// NAVBAR \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
<div class="listbar"> 
    <div class="list" onclick="location.href='/'">
       <span class="material-symbols-outlined icon-pos1">wb_sunny</span> <p class="list-name">Today</p>
    </div>
    <div class="list" onclick="location.href='/this-week'">
       <span class="material-symbols-outlined icon-pos1">calendar_month</span> <p class="list-name">This Week</p>
    </div>
    <div class="list" onclick="location.href='/capstone'">
        <span class="material-symbols-outlined icon-pos1">flag</span><p class="list-name">Capstone</p>
    </div>
</div>
<!--...................................................................-->