
<%- include("partials/header.ejs") %>

<script>
    document.querySelectorAll(".nav-item")[1].classList.add("selected-nav-item");
</script>

    <div class="about"> 

        <div class="to-do-app">
            <img  class="to-do-pic" src="/pictures/TodoApp-logo2.png" alt="TodoApp">
            <h2 class="to-do-text">ToDoApp</h2>
        </div>

        <div class = "descreption">
            <p>
                ToDo app is a web application designed to help you manage your daily tasks, plan your weekly activities, and set your goals.
            </p>
            
            <p>
                Actually, This app was built as part of the To-Do List Capstone Project in Angela Yu's Complete Web Development Bootcamp.
                <br>
                This project aims to provide additional practice with EJS (Embedded JavaScript).
            </p>
    
            <p>
                Well, that's all!
            </p>
        </div>
       

 
        
    </div>
    

<%-include("partials/footer.ejs")%>